:root {
    --bg-color: #050505;
    --text-color: #e6dada;
    --accent-color: #ff5252;
    --border-color: rgba(255, 255, 255, 0.08);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    color: var(--text-color);
    transition: 0.5s;
}
a {
    text-decoration: none;
    color: var(--text-color);
}
a:focus{
    outline: none;
}
img{
    display: block;
}
body{
    height: 100svh;
    background: var(--bg-color);
    display: flex;
    /* overflow: hidden; */
}
nav{
    width: 300px;
    height: 100%;
    background: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-img{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
.nav-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-container{
    padding: 20px 0;
    width: 80%;
    margin: auto;
}

.nav-items{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    gap: 10px;
}

.nav-link{
    width: 100%;
    display: block;
    position: relative;
    padding: 10px 20px;
    z-index: 1;
}
.nav-link::before{
    content: "";
    position: absolute;
    bottom: 10px;
    right: 20px;
    height: 2px;
    width: calc(100% - 100%);
    background: var(--text-color);
    transition: 0.5s ease-out;
}

.nav-link:hover::before{
    width: calc(100% - 40px);

}

.nav-item{
    position: relative;
}
.nav-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--bg-color);
    border-radius: 15px;
    transition: 0.2s ease-out;
}
.nav-item:has(.nav-link:hover)::before {
    width: 100%;
}
.click-me{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.nav-social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    filter: invert(1);
}
.nav-social:hover{
    scale: 1.1;
    filter: invert(0);

}
.nav-social img{
    width: 40px;
}

.nav-socials{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--text-color);
}
.container{
    margin: auto;
    padding: 0 20px;
    max-width: 1100px;
}
main{
    height: 100svh;
    overflow: auto;
    width: calc(100% - 300px);
    position: relative;
    padding-bottom: 50px;
}
.pfp-img{
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--accent-color);
}
.pfp-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-me{
    padding: 20px 0;
    background: var(--border-color);
    border-bottom: 1px solid var(--border-color);
}
.about-me .container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.about-me-introduction{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.about-me-text span{
    color: var(--accent-color);
}
.about-me-text{
    background: var(--border-color);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--accent-color);
}
h1{
    color: var(--accent-color);
    text-shadow: 0 0 20px var(--accent-color);
}
.bg-img{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: -1;
}
.bg-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section:not(.about-me){
    margin-top: 20px;
    padding: 0 20px;
}

.section-title{
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--accent-color);
}
section:not(.about-me) .container{
    padding: 20px 20px;
    border-radius: 20px;
    background: var(--border-color);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(10px) brightness(40%);
}
.card-icon{
    width: 100px;
    height: 100px;
    align-self: center;
}
.card-icon img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center center;
}
.cards{
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.card{
    display: flex;
    gap: 20px;
    padding: 10px;
}
.card:first-child{
    border-right: 1px solid var(--accent-color);
}
.card-body{
    width: fit-content;
}

.card-title{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.burger{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
    display: none;
    cursor: pointer;
}
.burger::before{
    content: "";
    position: absolute;
    top: calc(0% + 2px);
    left: 50%;
    width: 100%;
    height: 4px;
    background: #000;
    border: 1px solid var(--accent-color);
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0 0 20px var(--accent-color);
    transition: 0.5s;
}
.burger::after{
    content: "";
    position: absolute;
    top: calc(100% - 2px);
    left: 50%;
    width: 100%;
    height: 4px;
    background: #000;
    border: 1px solid var(--accent-color);
    transform: translate(-50%, -50%) rotate(0deg);
    box-shadow: 0 0 20px var(--accent-color);
    transition: 0.5s;
}
.burger span{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 4px;
    background: #000;
    border: 1px solid var(--accent-color);
    box-sizing: content-box;
    box-shadow: 0 0 20px var(--accent-color);
    opacity: 1;
}

.burger.active::before{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
}
.burger.active::after{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-225deg);
}
.burger.active span{
    opacity: 0;
}
main{
    scrollbar-color: var(--accent-color) var(--bg-color);
}
@media only screen and (max-width: 1440px) {
    .container{
        max-width: 900px;
    }
}

@media only screen and (max-width: 1240px) {
    .pfp-img{
        min-width: 200px;
        min-height: 200px;
        width: 200px;
        height: 200px;
        align-self: center;
    }
    .about-me-introduction{
        width: fit-content;
    }
    .about-me .container{
        gap: 20px;
    }
    .about-me-text{
        font-size: 14px;
    }
    h1{
        font-size: 24px;
    }
    .section-title{
        font-size: 18px;
    }
    .card-title{
        font-size: 14px;
    }
    .card-description{
        font-size: 12px;
    }
    .card-icon{
        width: 75px;
        height: 75px;
    }
    .card{
        gap: 10px;
    }
    nav{
        width: 200px;
    }
    .nav-social{
        width: 30px;
        height: 30px;
    }
    .nav-social img{
        width: 26px;
    }
    .nav-items{
        font-size: 18px;
    }
    main{
        width: calc(100% - 200px);
    }
}
@media only screen and (max-width: 900px) {
    .burger{
        display: block;
    }
    nav{
        position: absolute;
        top: 0;
        left: -200px;
        z-index: 2;
    }
    nav.active{
        left: 0;
    }
    body:has(nav.active) main{
        opacity: 0.2;
    }
    main{
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .about-me .container{
        flex-direction: column;
    }
    .about-me-text{
        backdrop-filter: brightness(50%) blur(10px);
        font-size: 12px;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card:first-child{
        border: none;
    }
}

@media only screen and (max-width: 400px) {
    .card-icon{
        display: none;
    }
}