*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

table{
    width: 75svw;
    margin: auto;
    border-spacing: 0;
    table-layout: fixed;
    border: 1px solid black;
    border-collapse: collapse;
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
}

tr{
    border-bottom: 1px solid black;
}
tr:not(:last-child) td:first-child{
    border-right: 1px solid black;
}
.table-content-left{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
}
h1{
    text-align: center;
    padding: 20px 0;
}
button{
    font-size: 18px;
    padding: 5px 10px;
}
.table-content-left, .table-content-right{
    width: 95%;
    margin: auto;
    padding: 10px 0;
}